@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sea-salt: 248, 246, 246;
  --sky: 203, 243, 240;
  --ocean: 46, 196, 182;
  --pine: 27, 114, 106;
  --pine-dark: 14, 64, 59;
  --creamsicle: 255, 191, 105;
  --orange-julius: 255, 159, 28;

  --foreground-primary: 0, 0, 0;
  --foreground-secondary: 50, 50, 50;
  --background-start-rgb: var(--sea-salt);
  --background-end-rgb: var(--sky);
}

html.dark:root {
  --foreground-primary: var(--sea-salt);
  --foreground-secondary: 205, 205, 205;
  --background-start-rgb: var(--pine-dark);
  --background-end-rgb: 0, 0, 0;
}

body {
  font-family: var(--font-karla);
  color: rgb(var(--foreground-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Headers */
h1 {
  font-family: var(--font-bungee);
  font-size: 4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

a:hover {
  color: rgb(var(--foreground-secondary));
}

.blinking-cursor:after {
  content: "|";
  @apply text-slate-300;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* react-tooltip requires two levels of specificity to override styles */
.header .tooltip {
  font-family: var(--font-karla);
  font-size: 0.8rem;
  opacity: 1;
  padding: 0 0.75rem;
}
