@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-primary: 0, 0, 0;
  --foreground-secondary: 50, 50, 50;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html.dark:root {
  --foreground-primary: 255, 255, 255;
  --foreground-secondary: 205, 205, 205;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  font-family: var(--font-karla);
  color: rgb(var(--foreground-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  transition: background 0.5s ease-in-out;
}

/* Headers */
h1 {
  font-family: var(--font-bungee);
  font-size: 4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

a:hover {
  color: rgb(var(--foreground-secondary));
}

.blinking-cursor:after {
  content: "|";
  @apply text-slate-300;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
