/* Cursor animation for home page */
.blinking-cursor:after {
  content: "|";
  animation: blink 1s step-start infinite;
  @apply text-slate-300;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Timeline animation */
@keyframes fade-in-top-to-bottom {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

/* Image loading animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
